.header-image {
  background-image: url(/../images/HomeHero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.tui-image-editor-header-logo{
  display: none;
}

// .navbarLogo {
//   height: 80px;
// }

#account-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-buttons {
  margin: 10px 5px 0px 5px;
}

#account-profile-pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#followers-button, #following-button {
  padding-left: 35.5px;
  padding-right: 35.5px;
  background-color: rgb(225,136,121);
  border-color: rgb(225,136,121);
  color: rgb(82,84,116);
}

#account-title {
  margin-top: 20px;
}

#explore, #photo-upload, #users, #login, #logout {
color: rgb(82,84,116);
margin-right: 2px;
}

#my-profile {
  background-color: rgb(225,136,121);
  border-color: rgb(225,136,121);
  color: rgb(82,84,116);
  margin-right: 2px;
}

#logo {
  border-radius: 12px;
  margin: 10px;
}

#back-button {
  margin-bottom: 10px;
  color: rgb(82,84,116);
}

#update-profile {
  margin-bottom: 10px;
}